body{
  margin: 0;    
  padding: 0;
  background-color: rgba(28, 136, 194, 0.096);
}
.container{
  max-width: 600px;
  margin: 25px auto;
  background-color:rgba(252, 250, 250, 0.719);
  box-shadow: 1px 1px 10px rgb(122, 122, 122);
  padding: 20px;
  border-radius: 20px;
}
h1{
  text-align: center;
  color: rgb(43, 141, 226);
}
p{
  color: red;
}
input{
    width: 78%;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
    border: 0px;
}
button{
  background-color: rgb(43, 141, 226);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 10px;
}
ul{
  padding: 0%;
}
ul li{
  list-style-type: none;
  margin: 10px ;  
}
#items{ 
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
  height: 30px;
}
#remove-bts{
  background-color: rgba(152, 0, 0, 0.663);
  color: white;
  border: none;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  float: right;
  margin-top: 0;
}
.done{
  text-decoration:line-through;
  color: rgb(77, 77, 77);
}
@media only screen and (max-width:512px){
 
  input{
    width: 240px;
  }
  button {
    margin-top: 10px;
    margin-left: 80px;
    width: 40%;
}
}